<div class="txt-sec">
    <h2 class="heading-red">{{txthead}}</h2>
    <p>Angular is a TypeScript-based open-source web application framework, developed and maintained by Google.
        angular2 is component based approch 
        component are the individual and free peice of logic and view
        everything in angular2 is component based </p>
    <div class="d-flex align-items-center">
        <a routerLink="" class="btn btn-red">Learn More</a>
        <button class="btn btn-secondary btn-sm ms-auto" (click)="onSubscribe()">news letter subscribe</button></div>
    <div class="clear"></div>
</div>