<div class="txt-sec">
    <h2 class="heading-green">Develop Across All Platform</h2>
    <p>Angular databinding is all about binding to DOM object properties not a html element attribute
        interpolation bind component class property to DOM property not to attribute of html element</p>
    <div class="d-flex align-items-center">
        <a routerLink="" class="btn btn-green">Learn More</a>
        <button class="btn btn-secondary btn-sm ms-auto" (click)="onSubscribe()">news letter subscribe</button>
    </div>
    <div class="clear"></div>
</div>