.dash1{
    /* width: 1000px;
    height: 50px;
    background: #f3f3f3; */
    border-left: 8px solid red;
    border-radius: 10px;
    font-family: monospace;
    font-weight: bold;
}

.card{
    box-shadow: inset 0 0 107px -42px #000;
}