<!-- <router-outlet></router-outlet> -->
<!-- <app-my-container></app-my-container> -->
<!-- <app-databind></app-databind> -->
<div class="container-fluid mt-3 myApp">
    <!-- <app-app-login></app-app-login> -->
    <div class="card">
        <div class="card-body">
            
            <tabset #staticTabs>
                <tab heading="Home" id="tab1">
                    
                    <div class="dash1 mt-5">
                        <div class="alert alert-info">Welcome to DZ App
                            <span [style.float]="'right'"> {{ currentDateTime | date }}</span>
                        </div>

                    </div>
                </tab>
                <tab heading="Component Basics" class="mt-3">
                    <app-my-container></app-my-container>
                </tab>
                <tab heading="Data Binding Basic" class="mt-3">
                    <app-databind></app-databind>
                </tab>
                <tab heading="Directive Basics" class="mt-3">
                    <app-directives-demo></app-directives-demo>
                </tab>
                <tab heading="Routing Basics" class="mt-3">
                    <app-routing-basics></app-routing-basics>
                </tab>
                <tab heading="Ng Content" class="mt-3">
                    <app-ngcontentt></app-ngcontentt>
                </tab>
            </tabset>
        </div>
    </div>

</div>