<div class="container rting-bsc rounded" >

    <h3>Routing Basics</h3>
    <hr>
    <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" 
          [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active myactive" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active myactive" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active myactive" routerLink="product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active myactive" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active myactive" routerLink="pageNotFound">page Not Found</a>
        </li>
      </ul>
      <div class="container">
        <!-- <app-home></app-home> -->
        <router-outlet></router-outlet>
      </div>
</div>
