<div class="container src-bsc rounded text-center">
    <h3>Service Test</h3>
    <hr class="mb-3">
    <table class="table table-info table-hover ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">price</th>
                <th scope="col">quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; index as i">
                <th>{{ i+1}}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.quantity }}</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="container src-bsc rounded text-center mt-2">
    <h3>Observable and HttpClient Test</h3>
    <hr class="mb-3">
    <table class="table table-info table-hover ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">username</th>
                <th scope="col">email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <th>{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

</div>









<!-- <div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li>
                <a routerLink="interval">Interval & Timer</a>
            </li>
            <li>
                <a routerLink="of-from">Of & From Operator</a>
            </li>
            
            <li>
                <a routerLink="toArray">ToArray</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
            <li>
                <a routerLink="filter">Filter</a>
            </li>
        </ul>
    </div>
</div> -->